* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

.container {
  /* height: 100%; */
  display: grid;
  place-content: center;
  border: 1px solid gray;
  border-radius: 2rem;
  padding-block: 1rem;
  /* margin-inline: 25rem; */
}

.uploadContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  padding: 0.5rem 0.75rem;
  margin-block: 1rem;
  font-size: 18px;
}
